# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# PyCharm / JetBrains IDE settings
.idea/

# macOS system files
.DS_Store

# Logs
*.log

# Compiled C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache
*.cache/
